ctf/artifacts/
artifacts/
ex/artifacts/
inviter_presell/artifacts/
learn/artifacts/
liquidity-staker/artifacts/
nft/artifacts/
tools/artifacts/
upgradeable/artifacts/
worldcup/artifacts/
babypay/artifacts/
.deps/
